.back-mainpage{
  border-bottom:1px solid #66a182;
  text-transform: uppercase;
  font-weight: bold;
  width: 133%;
  padding-bottom: 12px;
}
.homePage{
    text-decoration: none;
    color: rgb(37, 34, 34);
  }
  .homePage:hover{
    color: #66a182;
}
.introduce{
  margin-top: 5%;
  width: 128%;
}
.introduce .introduce-title{
  font-size: 25px;
}
/*  css phần file sanpham */
